<%= form_for(@gas_price) do |f| %>
  <% if @gas_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gas_price.errors.count, "error") %> prohibited this gas_price from being saved:</h2>

      <ul>
      <% @gas_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :daily_price %><br>
    <%= f.text_field :daily_price %>
  </div>
  <div class="field">
    <%= f.label :gas_type %><br>
    <%= f.text_field :gas_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
