<div class="container">
    <div id=dashboard1 class="panel panel-default dashboard" hidden="hidden">
      <div class="panel-body">
        <div style="vertical-align: middle" align="center">
            <h4>Gas type: <%= @grade_name %></h4>
            <h4>Predicted Gas Price: $<%= @pgp.round(3) %> /gallon</h4>
            <h4>Percentage Change: <%= @gcpp.round(3) * 100 %>%</h4>
            <h4>Today's gas price is $<%= @cgp %> /gallon</h4>
        </div>
      </div>
    </div>

    <div id=dashboard2 class="panel panel-default dashboard">
      <div class="panel-body">
        <h3><%= @message %></h3><br>
        <%=icon('fa-spinner faa-horizontal fa-3x animated')%>
        <%=icon('line-chart faa-horizontal fa-3x animated')%>
      </div>
    </div>
</div>

<%= link_to 'Mileage Cost', cars_path %>
<%= link_to 'Trend Graph', oil_prices_path %>

<script>
$('#dashboard2').mouseenter(function() {
    $('#dashboard1').height($('#dashboard2').height());
    $('#dashboard1').width($('#dashboard2').width());
    $('#dashboard1').show(0);
    $('#dashboard1').transit({y: $('#dashboard2').height()+'px' });
});
$('#dashboard2').mouseleave(function() {
    $('#dashboard1').transit({y: '0px'});
});
</script>
