<div id=dashboard2 class="panel panel-default dashboard bluepanel">
  <div class="panel-body" align="center">
    <% if @gcpp.abs < 0.0025 %>
      <h3>Buy today or tomorrow! No significant change predicted.</h3>
      <%=icon('dollar faa-pulse fa-3x animated')%>
      <%=icon('arrows-h faa-passing fa-3x')%><br>
        <%= image_tag('okstation.jpg', {alt:"okgasstation", height:"400", width:"800"}) %>
    <% elsif @gcpp >= 0.0025 %>
      <h3>Buy today! Prices will probably go up tomorrow.</h3>
        <%=icon('flash faa-flash fa-3x animated')%>
        <%=icon('line-chart faa-bounce fa-3x animated')%><br>
        <%= image_tag('packedstation.jpg', {alt:"packedgasstation", height:"400", width:"800"}) %>
    <% else %>
      <h3>Wait! Prices will probably go down tomorrow.</h3>
        <%=icon('smile-o faa-ring fa-3x animated')%>
        <%=icon('level-down faa-bounce fa-3x animated')%><br>
        <%= image_tag('emptystation.jpg', {alt:"emptygasstation", height:"400", width:"800"}) %>
    <% end %>
    <br>
  </div>
</div>
<div id=dashboard1 class="panel panel-default dashboard bluepanel" style="background-color: #00B5A4">
  <div class="panel-body">
    <div align="center">
      <br><br>
      <h4><small style="color:lightgrey">City:</small> <%= @user_city %></h4>
      <h4><small style="color:lightgrey">Gas type:</small> <%= @grade_name %></h4>
      <h2><small style="color:lightgrey">Predicted Gas Price:</small> $<%= @pgp.round(3) %> /gallon</h2>
      <h4><small style="color:lightgrey">Percentage Change:</small> <%= @gcpp.round(3) * 100 %>%</h4>
      <h4><small style="color:lightgrey">Today's gas price is</small> $<%= @cgp %> /gallon</h4>
    </div>
  </div>
</div>


<div class="dash">
</div>

<script>
$(document).ready(function() {
    $('#dashboard1').height($('#dashboard2').height());
    $('#dashboard1').width($('#dashboard2').width());
    $('.dash').height($('#dashboard2').height());
    $('.dash').width($('#dashboard2').width());
    $('.dash').css('margin-top',$('#dashboard2').css('margin-top'));
    $('.dash').css('margin-bottom',$('#dashboard2').css('margin-bottom'));
});
$('#dashboard1').mouseenter(function() {
    $('#dashboard1').transit({opacity: 1.0});
});
$('#dashboard1').mouseleave(function() {
    $('#dashboard1').transit({opacity: 0.0});
});
</script>
