<p id="notice"><%= notice %></p>

<p>
  <strong>Daily price:</strong>
  <%= @gas_price.daily_price %>
</p>

<p>
  <strong>Gas type:</strong>
  <%= @gas_price.gas_type %>
</p>

<%= link_to 'Edit', edit_gas_price_path(@gas_price) %> |
<%= link_to 'Back', gas_prices_path %>
