

<h1>Cost Caculater</h1>

<table>
  <thead>
    <tr>
      <th>Combination Mileage Cost</th>
      <th>City Mileage Cost</th>
      <th>Highway Mileage Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%=    @comb_mileage %></td>
        <td><%=    @city_mileage %></td>
        <td><%=    @highway_mileage %></td>
        <td><%= link_to 'Your Car Profile', cars_path(@car) %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Back to Gas Price', gas_prices_path %>
