<div class='container new-room'>
  <div class="row">
    <div class='col-md-4 col-md-offset-4 form-box'>
      <h2>Build up your car profile</h2>
      <%= form_for(@car) do |f| %>
      <div class="field">
        <%= f.label :gas_grade %><br />
        <%= f.select :gas_grade_id, gas_grade_dropdown, selected: params[:gas_grade_id],autofocus: true %><br /><br />
      </div>
      <div class="field">
        <%= f.label :year %><br />
        <%= f.select :year, @years, {selected: params[:year], prompt: 'Select year...'},{autofocus: true} %><br /><br />
      </div>
      <div class="field" >
        <%= f.label :make %><br />
        <%= f.select :make, @makes, {selected: params[:make], prompt: 'Select make...'},{autofocus: true, :disabled => "disabled"} %><br /><br />
      </div>
      <div class="field">
        <%= f.label :model %><br />
        <%= f.select :model, @models, {selected: params[:model], prompt: 'Select model...'},{autofocus: true, :disabled => "disabled"} %><br /><br />
      </div>
      <div class="field">
        <%= f.label 'Transmission' %><br />
        <%= f.select :trany, @tranies, {selected: params[:trany], prompt: 'Select transmission...'},{autofocus: true, :disabled => "disabled"} %><br /><br />
      </div>
      <div class="actions">
        <%= f.submit "Get Started", {class: "btn btn-primary", :id => 'car_submit', :disabled => "disabled"}%>
      </div>
      <%end%>
    </div>
  </div>
</div>

<%= link_to 'Back', cities_path %>

<script>
  $(document).ready(function() {
    $('#car_year').change(function() {
      $.ajax({
        url: "<%= update_makes_path %>",
        data: {
          year : $('#car_year').val()
        },
        dataType: "script"
      });
    });
    $('#car_make').change(function() {
      $.ajax({
        url: "<%= update_models_path %>",
        data: {
          year : $('#car_year').val(),
          make : $('#car_make').val()
        },
        dataType: "script"
      });
    });
    $('#car_model').change(function() {
      $.ajax({
        url: "<%= update_tranies_path %>",
        data: {
          year : $('#car_year').val(),
          make : $('#car_make').val(),
          model : $('#car_model').val()
        },
        dataType: "script"
      });
    });
    $('#car_trany').change(function() {
      $.ajax({
        url: "<%= update_submit_path %>",
        data: {},
        dataType: "script"
      });
    });
  });
</script>
