<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel panel-header text-center">
          <h5><strong>City:</strong><h5>
        </div>
        <p><%= @city_name %></p>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-header text-center">
          <h5><strong>Year:</strong></h5>
        </div>
        <p><%= @car.year %></p>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-header text-center">
          <h5><strong>Make:</strong></h5>
        </div>
        <p><%= @car.make %></p>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-header text-center">
          <h5><strong>Model:</strong></h5>
        </div>
        <p><%= @car.model %></p>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-header text-center">
          <h5><strong>Transmission:</strong></h5>
        </div>
        <p><%= @car.trany %></p>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-header text-center">
          <h5><strong>Gas Grade:</strong></h5>
        </div>
        <p><%= @car.gas_grade %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit Your Car', new_car_path %>
<%= link_to 'Back', gas_prices_path %>
