<!DOCTYPE html>
<html>
<head>
  <title>GasPrediction</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'font-awesome-animation.min', media: 'all' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><%= image_tag('gas_pump.png', {alt:"LOGO", height:"50", width:"60"}) %>
          Gas&nbspHelper</h1>
        </div>
        <div class="col-md-6" align="right">
          <% if user_signed_in? %>
            <%= link_to('Log out', destroy_user_session_path, {:method => :delete, class: "btn btn-danger", role:"button"}) %>
          <% else %>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <br />
              <table>
                <tr style="color: black">
                  <td> <%= f.text_field :email %> </td>
                  <td> <%= f.password_field :password %> </td>
                  <td> <%= f.submit 'Log in',class: "btn btn-danger", redirect:new_session_path(resource_name)%> </td>
                </tr>
                <tr>
                  <td> <%= f.check_box :remember_me %> <%= f.label :remember_me %> </td>
                  <td> <%= link_to "Forgot your password?", new_password_path(:user) %> </td>
                </tr>
              </table>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <% if notice || alert %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><p class="alert-text"><%= alert %></p></div>
  <% end %>

<%= yield %>
<footer>

  <div class="row footer" style="font-size:15px;color:white;font-family:RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif">
    <br>
    <div class="col-md-3">
      <%=icon('line-chart faa-horizontal fa-3x animated-hover')%><br>
      <%= link_to 'Gas Price Prediction', gas_prices_path %>
    </div>
    <div class="col-md-3">
      <%=icon('money faa-float fa-3x animated-hover ')%><br>
      <%= link_to "Your Car's Mileage Cost", cars_path%>
    </div>
    <div class="col-md-3">
      <%=icon('area-chart faa-float fa-3x animated-hover ')%><br>
      <%= link_to 'Price Trends Graph', oil_prices_path %>
    </div>
    <div class="col-md-3">
      <%=icon('car faa-float fa-3x animated-hover ')%><br>
      <%= link_to "Your Car's Profile", @car %>
      <br><br>
    </div>
    <h5>@2015 Made By Gracie</h5>
    <br>
  </div>
</footer>
</body>
</html>
