<!DOCTYPE html>
<html>
<head>
  <title>GasPrediction</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'font-awesome-animation.min', media: 'all' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="parallax-window">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><%= image_tag('gas_pump.png', {alt:"LOGO", height:"50", width:"60"}) %>
          Gas&nbspHelper</h1>
        </div>
        <div class="col-md-6" align="right">
          <% if user_signed_in? %>
              <br>
              <table>
                <tbody>
                  <tr style="color: black">
                    <td>
                      <%= link_to('Log out', destroy_user_session_path, {:method => :delete, class: "btn btn-danger", role:"button"}) %>
                    </td>
                    <td>
                      &nbsp;&nbsp;&nbsp;<%= link_to( icon('home faa-pulse fa-3x animated-hover'), root_path) %>
                    </td>
                  </tr>
                </tbody>
              </table>
          <% else %>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <br />
              <table>
                <tr style="color: black">
                  <td> <%= f.text_field :email %> </td>
                  <td>&nbsp; <%= f.password_field :password %> </td>
                  <td>&nbsp; <%= f.submit 'Log in',class: "btn btn-danger", redirect:new_session_path(resource_name)%> </td>
                  <td>&nbsp; <%= link_to( icon('home faa-pulse fa-3x animated-hover'), root_path) %> </td>
                </tr>
                <tr>
                  <td> <%= f.check_box :remember_me %> <%= f.label :remember_me %> </td>
                  <td>&nbsp; <%= link_to "Need password?", new_password_path(:user) %> </td>
                </tr>
              </table>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <% if notice || alert %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><p class="alert-text"><%= alert %></p></div>
  <% end %>

  <%= yield %>
  <br>
  <br>
  <footer>
    <div class="row footer" style="font-size:15px;color:white;font-family:RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif">
      <br>
      <div class="col-md-3">
        <a href="<%=gas_prices_path%>"><%=icon('line-chart faa-horizontal fa-3x animated-hover')%><br>Gas Price Prediction</a>
        <br>
      </div>
      <div class="col-md-3">
        <a href="<%=cars_path%>"><%=icon('money faa-float fa-3x animated-hover')%><br>Your Car's Mileage Cost</a>
        <br>
      </div>
      <div class="col-md-3">
        <a href="<%=oil_prices_path%>"><%=icon('area-chart faa-float fa-3x animated-hover')%><br>Price Trends Graph</a>
        <br>
      </div>
      <div class="col-md-3">
        <a href="<%=edit_car_path(1)%>"><%=icon('car faa-float fa-3x animated-hover')%><br>Your Car's Profile</a>
        <br>
        <br>
      </div>
      <h5>&copy;2015 Gracie, Inc.</h5>
    </div>
  </footer>
</div>
</body>
</html>
<script>
    $('.parallax-window').parallax({imageSrc: '<%= asset_path 'streetchina.jpg' %>'});
</script>
